* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

img {
	width: 200px;
	height: 200px;
	padding: 20px;
}

#restore {
	background-color: green;
	font-size: 50px;
	box-shadow: 4px 7px 11px 4px;
	margin-bottom: 20px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	width: 840px;
	justify-content: space-between;
	padding: 10px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
